<header class="sub-header-content grey move-header">
  <h3>Details</h3>
</header>
<div id="card-details" class="content-panel-wrapper">
  <div class="content-panel compress">
    <div class="inner">
      <h4>Card Details</h4>
      <div class="container_24 no_margin">
        <div class="details-column">
          <table class="vertical-table pull-left no-hover compact">
            <tbody>
            <tr>
              <th>NAME</th>
              <td id="name" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.name_on_card"
                  data-trigger="focus" data-container="body" data-placement="left">
                
              </td>
            </tr>
            <tr>
              <th>CARD NUMBER</th>
              <td id="card-number" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.card_number"
                  data-trigger="focus" data-container="body" data-placement="left">
                421112******1001
              </td>
            </tr>
            <tr>
              <th>EXPIRY DATE</th>
              <td id="expiry-date" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.expiration_date"
                  data-trigger="focus" data-container="body" data-placement="left">
                12/2022
              </td>
            </tr>
            <tr>
              <th>CARD TYPE</th>
              <td id="card-type" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.card_type"
                  data-trigger="focus" data-container="body" data-placement="left">
                
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="details-column">
          <table class="vertical-table pull-left no-hover compact">
            <tbody>
            <tr>
              <th>CARD CLASS</th>
              <td id="card-class" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.card_class"
                  data-trigger="focus" data-container="body" data-placement="left">
                
              </td>
            </tr>
            <tr>
              <th>CARD ISSUER</th>
              <td id="card-issuer" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.issuer"
                  data-trigger="focus" data-container="body" data-placement="left">
                
              </td>
            </tr>
            <tr>
              <th>ISSUER COUNTRY</th>
              <td id="issuer-country" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="alertMerchantsBase.alertOwner.country"
                  data-trigger="focus" data-container="body" data-placement="left">
                
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="content-panel compress">
    <div class="inner">
      <h4>Customer Details</h4>
      <div class="container_24 no_margin">
        <div class="details-column">
          <table class="vertical-table pull-left no-hover compact">
            <tr>
              <th>ADDRESS</th>
              <td id="address" placeholder="-" bs-tooltip="base.activeAuthorisation.address" data-trigger="hover"
                  data-container="body" data-placement="left">
              </td>
            </tr>
            <tr>
              <th>CITY</th>
              <td id="city" placeholder="-" type="text" readonly="readonly" bs-tooltip="base.activeAuthorisation.city"
                  data-trigger="focus" data-container="body" data-placement="left">
              </td>
            </tr>
            <tr>
              <th>COUNTY</th>
              <td id="county" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="base.activeAuthorisation.county" data-trigger="focus" data-container="body"
                  data-placement="left">
              </td>
            </tr>
            <tr>
              <th>POST CODE</th>
              <td id="post-code" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="base.activeAuthorisation.post_code" data-trigger="focus" data-container="body"
                  data-placement="left">
              </td>
            </tr>
          </table>
        </div>
        <div class="details-column">
          <table class="vertical-table pull-left no-hover compact">
            <tr>
              <th>COUNTRY</th>
              <td id="country" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="base.activeAuthorisation.country"
                  data-trigger="focus" data-container="body" data-placement="left">
              </td>
            </tr>
            <tr>
              <th>E-MAIL</th>
              <td id="email" placeholder="-" type="text" readonly="readonly" bs-tooltip="base.activeAuthorisation.email"
                  data-trigger="focus" data-container="body" data-placement="left">
              </td>
            </tr>
            <tr>
              <th>TELEPHONE</th>
              <td id="phone-number" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="base.activeAuthorisation.phone_number" data-trigger="focus" data-container="body"
                  data-placement="left">
              </td>
            </tr>
            <tr>
              <th>IP ADDRESS</th>
              <td id="ip-address" placeholder="-" type="text" readonly="readonly"
                  bs-tooltip="base.activeAuthorisation.customer_ip_address" data-trigger="focus" data-container="body"
                  data-placement="left">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
