
<% if user_signed_in? %> 

<% end %>

<main>
  <div ui-view></div>
</main>
  </div>

  <div class="container_24 homescreen-content">
    <div class="grid_11 prefix_1">
      <div id="ai-smart-intro-text">
        <h3>The ai Corporation</h3>
        <h1>RiskNet</h1>
        <h6>Real time fraud detection</h6>        
      </div>
    </div>
   <div class="grid_12">
      <ul class="homescreen-app-buttons">
        <li><p>Favourites - Select to begin</p></li>
        <li>
          <a ui-sref="alerts" href="<%= alerts_path(@alerts) %>">
            <button class="button">Alerts</button>
          </a>
        </li>
        <li>
          <a ui-sref="rules" href="<%= rules_path(@rules) %>">
            <!-- requiredUser:  --><button class="button ng-scope" required-user="" role="admin, rule_manager"><span class="translation_missing" title="translation missing: en.application.rules">Rules</span></button><!-- end requiredRole: undefined -->
          </a>
        </li>
        <li>
          <a ui-sref="statistics" href="<%= statistics_path(@statistics) %>">
            <button class="button">Statistics</button>
          </a>
        </li>
      </ul>
    </div>
  </div>

<div id="logged-in-as" class="ng-scope">
  <p class="ng-binding">Logged in user: <%= current_user.email %></p>
</div>  


  </div>
 