

<div id="progress-container">
  <h1 class="ng-binding pull-left">About </h1>
</div>
<div id="page-contents" class="no-footer">
  <div class="container_24">
    <div class="grid_20 prefix_2 alpha omega">
      <div class="section" style="top:20px;margin-bottom:20px;overflow:visible;padding: 0 40px 0 0;">
        <ul id="about" style="list-style:none;">
          <li><h1><%= t('about.version') %> v3.2.23_4</h1></li>
          <li><h1><%= t('about.copyright') %></h1></li>
          <li>© 2018 The ai Corporation. All rights reserved<br>
Warning - copyright law and international treaties protect this program. Unauthorised reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties and will be prosecuted to the maximum extent possible under the law.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
